<div class="top-row">
    <div class="brand-container">
        <a class="site-brand" href="">PortfolioV2</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="nav-menu-toggle" />

<div class="nav-scrollable" onclick="document.querySelector('.nav-menu-toggle').click()">
    <nav class="nav-menu">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon nav-icon-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <span class="nav-icon nav-icon-counter" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                <span class="nav-icon nav-icon-weather" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

