@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private string? name;
    private void OnInput(ChangeEventArgs e)
    {
        name = e.Value?.ToString();
    }
}
